html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#__next {
  height: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

textarea,
input,
button {
  border: 0;
  outline: 0;
  font-size: 1rem;
}

a,
button {
  cursor: pointer;
}
